body {
    font-family: Arial, sans-serif;
}

.hero {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('./src/images/jeff-bridges-em-cena-de-o-grande-lebowski.png');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
    z-index: -1;
}

.hero-content {
    z-index: 2; /* Ensure the text is above the semi-transparent background */
    text-align: center;
}

.hero-content p {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: lighter;
}

.hero-content h1 {
    font-size: 4rem; /* Adjust size as needed */
    margin-bottom: 0.5rem;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__logo {
    height: 50px;
    width: auto;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-left: 20px;
}

.nav__item a {
    text-decoration: none;
    color: #ffffff;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content-with-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-content {
    flex: 1;
}

.recipe-image {
    max-width: 50%;
    height: auto;
}

.music-section {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d79272; /* Light brown background */
    padding: 20px;
    text-align: center;
    color: #502816; /* Center the title */
}

.music-section-title {
    margin-bottom: 5px; /* Add space below the title */
}

.music-section-content {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-around; /* Even space around items */
}

.tape-image {
    height: 300px; /* Adjust size as needed */
    margin-left: 20px;
}

.music-section-text {
    flex: 1; /* Takes the remaining space */
    padding-left: 10px; /* Space between image and text */
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #f5f5f5; /* Example background color */
}

.gallery__title {
    text-align: center;
    margin-bottom: 20px;
}

.gallery__container {
    display: grid;
    grid-template-columns: repeat(2, 47%); /* Creates two columns each taking up 47% of the width */
    justify-content: space-between; /* Spaces out the columns */
    gap: 10px; /* Adjust if you need space between rows */
}

.gallery__image {
    width: 100%; /* Ensure the image takes up the full column width */
    height: auto; /* Maintain aspect ratio */
    /* Rest of your styles for gallery__image */
}

.gallery__image:hover {
    transform: scale(1.50); /* Optional: zoom effect on hover */
}

.faq {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #874848; /* Black background */
    color: silver;
    font-size: 20px;
}

.faq__title {
    text-align: center;
    margin-bottom: 20px;
}
.accordion {
    
    color: silver; /* Silver text color */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.accordion-item {
    width: 100%;
    margin-bottom: 10px;
}
.accordion-item label {
    display: block;
    cursor: pointer;
}

.accordion-item .content {
    background-color: #805151; /* Lighter black background */
    max-height: 0; /* Start with max-height 0 */
    overflow: hidden; /* Hide content that overflows */
    transition: max-height 0.5s ease-in-out; /* Transition effect */
    color: #ffffff;
}

.accordion-item input[type="checkbox"]:checked ~ .content {
    max-height: 500px; /* Adjust as needed, should be large enough to accommodate content */
    /* Other styles remain the same */
}

.accordion-item input[type="checkbox"] {
    display: none;
}
footer {
    text-align: center; /* Aligns the text to the center of the footer */
    background-color: #333; /* Dark background for the footer */
    color: #fff; /* White text color */
    padding: 20px 0; /* Adds padding above and below the text */
    font-size: 16px; /* Sets the font size */
    border-top: 1px solid #444; /* Adds a top border for visual separation */
}

footer p {
    margin: 0; /* Removes default margin from the paragraph */
    line-height: 1.5; /* Adjusts the line height for better readability */
}




